<div>
  <h3>
    NGX Date Table Demo
  </h3>
  <ngx-datatable
    class="material"
    [rows]="rows"
    [loadingIndicator]="loadingIndicator"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="80"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [reorderable]="reorderable">
    <ngx-datatable-column *ngFor="let col of columns"
      [name]="col.name"
      [prop]="col.prop">
        <ng-template let-column="column"
            let-sort="sortFn"
            ngx-datatable-header-template>
            <div class="header-label">
                {{ column.name }}
            </div>
            <div class="header-filter">
                  <ng-select [items]="filterItem"
                      [searchable]="false"
                      [clearable]="false"
                      bindLabel="label"
                      bindValue="value"
                      appendTo="body"
                      class="ng-select-outside"
                      placeholder="Filter {{ column.name }}"
                      (change)="handleUpdate($event)">
                  </ng-select>
            </div>
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
</div>
